.movie-page {
    min-height: 100vh;
    background-color: rgb(33, 37, 41);
    color: #fff;
}

.movie-page .movie-nav-dark,
.movie-page .movie-nav {
    padding: 10px 20px 10px 40px;
    background-color: rgb(33, 37, 41);
}

.movie-page .navbar-brand {
    display: block;
    width: 120px;
}

.movie-page .voice-search-area {
    display: flex;
    align-items: center;
}
.movie-page .voice-search-area .microphone {
    width: 2rem;
    height: 2rem;
}
.movie-page .voice-search-area .microphone img {
    width: 100%;
    filter: invert(1);
    -webkit-filter: invert(1);
}
.movie-page .voice-search-area button {
    width: 5rem;
    font-size: 1.4rem;
    opacity: 0.5;
}
.movie-page .voice-search-area button:hover {
    opacity: 1;
}

.detail-box {
    width: 100%;
    padding: 5rem 0;
}
.detail-title {
    margin-bottom: 2rem;
    font-size: 3rem;
}

@media all and (max-width:1024px){
    .movie-page .voice-search-area {
        padding: 0 0 1.4rem;
    }
}